<% if (users.length>0) { %>
    <% users.forEach(element => { %>
     <div>
        <p><%=element.fname%></p>
        <p><%=element.lname%></p>
        <p><%=element.age%></p>
     </div>
    <% }) %>
<% } else { %>
    <div>non se encontraron datos</div>
<% } %>
 