<%- include('./partials/head') %>
<h1>Hola Mundo!!</h1>
<ul>
    <% alumnos.forEach(element => { %>
        <li><%=element.lname%>, <%=element.fname%>
        <% if (element.age) { %>
         👉 <%=element.age%>
        <% } else { %>
            (dato no especificado)
        <% } %>
        </li>
    <% }) %>
</ul>