<%- include('./partials/head') %>
<form action="/users" method="post">
    <label>Nombre:</label>
    <input name="fname">
    <label>Apelidos:</label>
    <input name="lname">
    <label>Edad:</label>
    <input name="age">
    <button>Enviar</button>
</form>
<%- include('./partials/history') %>